
body {
    margin: 0px;
}
header {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.white-text {
    color: #fff !important;
}
.green-color {
    background-color: #86af49;  
}
.text-style {
    font-style: italic;
}
.logo {
    width: 60px;
    background-image: url(../img/logo-img.png);
    height: 45px;
    background-size: cover;
    vertical-align: middle;
}
.logo-text {
    color: #ffe480;
    vertical-align: middle;
    font-family: serif;
    font-weight: bolder;
    font-size: 1.5rem;

}
.label-positioning {
    padding-top: 2rem;
    text-align: center;
}
.displ-inl-block {
    display: inline-block
}
.pull-right {
    float: right;
}
.main-nav {
    display: flex;
    flex-wrap: wrap;
}

.nav-font a {
    text-decoration-line: none;
    font-family: serif;
    font-weight: bolder;
    outline: none;
    padding-right: 10px;
    font-size: 1.5rem;
    flex-basis: auto;
    flex-grow: 1;
}

.nav-font a:link {
    color: #15e94a;
}

.nav-font a:visited {
    color: #ffe480;
}

.nav-font a:focus {
    color: #e97415;
}

.nav-font a:hover {
    color: #e07b28;
    border-bottom: 1px solid;
}

.nav-font a:active {
    color: #e27318;
}
.img-captions {
    margin-top: 30px;
}
.img-captions figcaption {
    text-align: center;
    font-size: 26px;
    padding: 16px;
    height: 70px;
}
.layout-img {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.single-image {
    flex-basis: 10%;
    margin: 1rem;
    text-decoration-line: none;
    color: white;
    border: 3px solid #ffe480;
    transition: all .5s;
}
.single-image:hover {
    transform: scale(1.1);
}
.single-image img {
    width: 100%;
}

/* @media only screen and (min-width: 640px) {
    .single-image {
        flex-basis: 50%;
    } 
}
@media only screen and (min-width: 960px) {
    .single-image {
        flex-basis: 33.333%;
    } 
}
@media only screen and (min-width: 1280px) {
    .single-image {
        flex-basis: 25%;
    } 
} */
/* .contact-us {
    display: flex;
    justify-content: center;
}
.footer-style {
    background-color: #86af49;
}

form {
    display:  flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.labels {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 10px;
    font-weight:bold; 
}

.inputs {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    
}
.inputs input {
    width: 14vw;
}

.submit-button {
    background-color: #a3ec84;
    border: 1px solid #a3ec84;
    padding: 1em;
    border-radius: 5px;
    margin: 1em 1em;
    width: 12vw;
    font-weight: bold;
}
.submit-button:hover {
    background-color: #cad8c3;
    border: 1px solid #cad8c3;
   
}
address {
    padding: 1rem 1rem;
} */

.input-field {
    font-size: 16px;
    padding: 12px 20px 12px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin: 20px 0 0 40px;
  }
#yearOfBirth {
    padding: 0.8rem;
    border-color: #ddd;
    color: #3c3b3b;
}
.pagenumbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.pagenumbers button {
	width: 50px;
	height: 50px;

	appearance: none;
	border: none;
	outline: none;
	cursor: pointer;

	background-color: #86af49;

	margin: 5px;
	transition: 0.4s;

	color: #FFF;
	font-size: 18px;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
	background-color: #ffe474;
}

.pagenumbers button.active {
	background-color: #ffe474;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.wrapper {
    display: flex;
    justify-content: center;
}
#personalDetails {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title {
    display: inline-block;
    width: 5.5rem;
    text-align: right;
}
#btnWrap {
    display: flex;
    justify-content: center;
}